*.csv filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
data/processed/processed_chunks.csv filter=lfs diff=lfs merge=lfs -text
embeddings/** filter=lfs diff=lfs merge=lfs -text
embeddings_demo/** filter=lfs diff=lfs merge=lfs -text
